.image{
    height: 20px;
    width: 20px;
    position: fixed;
}


.img{
    height: 45px;
    width: 45px;
    border-radius: 20%;
}


.col-sm-1-1{ position: relative; width:0px;}
.col-sm-1-1 img { position: absolute; top: 5%; right: 15px}


.img2{
    height: 45px;
    width: 45px;
    border-radius: 20%;
}
.col-sm-1-1 .img { position: absolute; top: 5%; right: 15px}


.img3{
    height: 45px;
    width: 45px;
    border-radius: 20%;
}
.col-sm-1-1 .img { position: absolute; top: 5%; right: 15px}

